* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url(imagens/thewitcherhell.png);
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
header {
    width: 100%;
    display: inline-block;
}
.paragraph {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 29rem;
    width: 230px;
    height: 24px;
    display: inline-block;
    font-family:'Montserrat', sans-serif;
    font-size: 0.97rem;
    font-weight: 400;
    color: whitesmoke;
}
.logo {
    width: 54px;
    height: 96px;
    margin-top: 13px;
    margin-left: 179px;
}
.nav-ul {
    list-style: none;
    margin: 3rem;
    font-size: 0.97rem;
    font-family:'Montserrat', sans-serif;
}
.nav-ul:hover {
    font-weight: bold;
}
.nav-li {
    color: whitesmoke;
    padding: 1rem;
    display: inline-block;
    text-align: right;
    
}
.div-geralt {
    background-image: url(imagens/thewitcherkavil2.png);
    background-repeat: no-repeat;
    margin-top: 4rem;
    margin-left: 27rem;
    width: 700px;
    height: 1000px;
}
.div-logo  {
    background-image: url(imagens/thewitcher.png);
    margin-top: 30rem ;
    margin-left: 9rem;
    width: 434px;
    height: 216px;
}
.div-button  {
    width: 338px;
    height: 67px;
    background-image: linear-gradient(red, rgb(199, 6, 6), red);
    border-radius: 4%;
    border: 1px solid grey;
    font-size: 1rem;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 15rem;
    margin-left: 3.5rem;

}
p {
    margin-top: 1.8rem;
}
.div-img {
    display: inline-block;
}
.div-p {
    display: inline-block;
    margin-top: 3rem;
}
div {
    float: left;
}